body {

  background: #221F22;
  font-family: sans-serif;
}

nav {
  background: grey; 
  height: 50px;
}

nav ul li {
  display: inline-block;
  margin-right: -4px;
  width: 5%;
  height: 100%;

}

nav ul li a {
  color: white;
  text-decoration: none;
  padding-top: 15px;
  display: block;
  
  text-align: center;
 
  }
  .btn  {
    width: 300px;
  }
